html
	head
		style
			include main.css
	body
		div.center
			h2
				span.text-danger local
				|  SERVICES
			table
				tbody
					each ct in containers
						tr
							td
								a(href='http://'+ct.ip+':'+ct.port) #{ct.name}
							td #{ct.image}
							td #{ct.status}
							td #{ct.port}