### Welcome to the InfluxDB configuration file.
reporting-disabled = true

[meta]
  dir = "{{ database_location }}/influxdb/meta"

[data]
  dir = "{{ database_location }}/influxdb/data"
  wal-dir = "{{ database_location }}/influxdb/wal"
