use flake

#shellcheck disable=SC2148,SC2155
export GIT_REPOSITORY=https://github.com/omdv/homelab-server.git
export HOMELAB_DOMAIN=kblb.io

# k3s node variables
export K3S_TOKEN="$(gopass show homelab/k3s-token)"
export K3S_TAILSCALE_AUTH="$(gopass show homelab/k3s-tailscale-auth)"
