source_url "https://raw.githubusercontent.com/cachix/devenv/95f329d49a8a5289d31e0982652f7058a189bfca/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

use devenv

#shellcheck disable=SC2148,SC2155
export GIT_REPOSITORY=https://github.com/omdv/homelab-server.git
export HOMELAB_LOCAL_IP=192.168.1.100
export HOMELAB_DOMAIN=hut.sh
