# Trash
.DS_Store
Thumbs.db
# Binaries
bin
/flux
*.iso
# vscode-sops
.decrypted~*.yaml
*.agekey
# Temp folders
.temp*
.private/
.logs/
.task/
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Sops
.decrypted~*
*.agekey
# Kubernetes
kubeconfig
talosconfig
