# https://github.com/k8s-at-home/charts/blob/master/charts/stable/plex/values.yaml
---
plex:

  image:
    repository: ghcr.io/home-operations/plex
    pullPolicy: IfNotPresent
    tag: 1.43.0

  env:
    TZ: "America/Chicago"
    ADVERTISE_IP: "192.168.1.24"

  service:
    main:
      primary: true
      ports:
        http:
          port: 32400
    dnla-tcp:
      enabled: false
    dnla-udp:
      enabled: false

  affinity:
    nodeAffinity:
      required:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists

  ingress:
    main:
      enabled: false

  hostNetwork: true

  persistence:
    config:
      enabled: true
      existingClaim: pvc-plex-config
    transcode:
      enabled: true
      existingClaim: pvc-plex-transcode
    media:
      enabled: true
      existingClaim: pvc-plex-media

  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 998
    fsGroup: 998

  resources:
    requests:
      cpu: 500m
      memory: 128Mi
    limits:
      cpu: 3000m
      memory: 512Mi
