{
  "tls": true,
  "tlscacert": "{{ dds_server_cert_path }}/ca.pem",
  "tlscert": "{{ dds_server_cert_path }}/server-cert.pem",
  "tlskey": "{{ dds_server_cert_path }}/server-key.pem",
  "hosts": [
    "fd://",
    "tcp://0.0.0.0:2376"
 ]
}