#!/usr/bin/env bash
export REPOSITORY="{{ backup_pool }}/repo-server"

# Fill in your password here, borg picks it up automatically
export BORG_PASSPHRASE="{{ lookup('env','HOMELAB_BORG_PASSPHRASE') }}"

# Backup all of /home except a few excluded directories and files
/usr/bin/borg create -v --stats --compression lz4                 \
	    $REPOSITORY::"{hostname}-{now:%Y-%m-%d %H:%M}" /{{ zfs_pool }} \
	    --exclude "/{{ zfs_pool }}/backup"                             \
	    --exclude "/{{ zfs_pool }}/media"                           \
	    --exclude "*.img"                                        \
	    --exclude "*.iso"                                        \

# Route the normal process logging to journalctl
2>&1

# If there is an error backing up, reset password envvar and exit
if [ "$?" = "1" ] ; then
	    export BORG_PASSPHRASE=""
	        exit 1
	fi

# Prune the repo of extra backups
/usr/bin/borg prune -v $REPOSITORY --prefix '{hostname}-'         \
	    --keep-daily=1                                       \
	    --keep-weekly=3                                      \
        --keep-monthly=3                                     \

# Include the remaining device capacity in the log
df -hl | grep --color=never /dev/sdc

/usr/bin/borg list $REPOSITORY

# Unset the password
export BORG_PASSPHRASE=""
exit 0